.btn-login {
    border-radius: 8px;
    border: 1px solid rgba(245, 222, 179, 0);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    /* background-color: #a09c9cc5; */
    cursor: pointer;
    margin-top: 30px;
}
.btn-login:hover {
    border-color: #242bb122;
} 
input[type="text"],
input[type="email"]{
    padding: 15px;
    border-radius: 15px;
    font-size: 16px;
    border: 1px solid transparent;
}
.login-page{
    display: grid;
    justify-content: center;
    margin-top: 25vh;
    align-items: center; 
    background-color: rgba(214, 152, 59, 0.322);
    padding:20px;
}
.login-block{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 2.0;
    text-align: center; 
    border:1px solid rgba(19, 10, 10, 0.242);
    border-radius: 20px;
    padding:20px 40px;
}